@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");
body {
    margin-top: 300px;
    text-align: center;
    align-items: center;
    background-color: white;
}
#btn {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: italic;
    padding: 5px;
    height: 40px;
    width: 80px;
    border: 10px;   
}
p {
    color: black;
    padding-right: 5pc;
}